.hotel-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: $layout-padding 0;

  &-logo {
    width: 50%;
    
    &-box {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  &-list {
    flex: 0 0 auto;
    margin-bottom: 30px;
  }

  &-item {
    color: #fff;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    &:first-child {
      margin-bottom: 15px;
    }
  }
}