{
    "parser": "babel-eslint",
    "extends": ["airbnb"],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "no-unused-vars": 0,
        "no-tabs": "off",
        "indent": ["error", "tab"],
        "global-require": "off"
    },
    "settings": {
        "import/resolver": {
            "alias": {
                "map": [
                    ["@src", "./src"],
                    ["@img", "./src/img"]
                ]
            }
        }
    }
}