@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');

*, *::before, *::after {
  font-family: 'Open Sans', 'Noto Sans TC', sans-serif;
  line-height: 1.5rem;
}

.font-light {
  font-weight: lighter;
}