$window-width: 1200px;
$layout-padding: 60px;
$modal-padding: 40px;
$edit-panel-gap: 10px;
$section-gap: 40px;
$amenity-icon-size: 40px;
$process-box-gap: 40px;

$theme-color: (
  secondary: #949C7C,
  primary: #38470B,
  assist-light: #F9F6F2,
  assist-dark: #6A6A6A
);

$opacity-color-primary:  #38470b99;

$font-size: (
  sm: 0.85rem,
  primary: 2.85rem,
  secondary: 2.6rem,
  tertiary: 1.4rem
);

$line-height: (
  normal: 1.7rem,
  sm: 1.1rem,
  primary: 4rem,
  secondary: 4rem,
  tertiary: 2rem
);
