.light-box {
  @extend %modal-layout;
  background-color: rgba(0, 0, 0, .5);
  justify-content: space-around;

  &-inner {
    width: 80%;
    height: 80%;
  }

  &-prev, &-next {
    width: 30px;
    height: 30px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;

    &[disabled] {
      opacity: .2;
      cursor: not-allowed;
    }
  }
}