.room-detail {
  height: 100vh;
  overflow-y: scroll;
  color: map-get($map: $theme-color, $key: primary);
  padding: $layout-padding;

  &-type {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: $section-gap;
  }
}

.room-basic-list, .room-intro-list, .amenity-box {
  margin-bottom: $section-gap;
}

.calendar {
  flex: 1 1 auto;
  margin: 0 20px;
}
