.slider {
  display: flex;
  width: 100%;
  height: 100%;

  &-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
    &.pos-index {
      @include slider-bg-overlay(rgba(0, 0, 0, 0.6));
      min-width: $window-width;
    }

    &.pos-intro {
      @include slider-bg-overlay(rgba(255, 255, 255, 0.6));
    }
  }

  &-img-box {
    flex: 1 0 100%;
    overflow: hidden;
    transition: all .5s;
  }

  &-img {
    @extend %cover-img;
  }

  &-dots {
    &.colored {
      .slider-dot {
        border: 1px solid $opacity-color-primary;

        &.active {
          background-color: $opacity-color-primary;
        }
      }
    }
  }

  &-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid #fff;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 10px;
    }

    &.active {
      background-color: #fff;
    }
  }
}